@using RuleViewerPrototype.Utilities
@model RuleViewerPrototype.Models.RulesModel
@{
    ViewBag.Title = "Index";
}

<h2>Rearch for rules</h2>

<div>
   <div id="filters" class="space">
      <div id="filter1" class="filter">
         Beinthet:
         <select name="Leggedness" id="legFilter">
            <option value=""> -- no filter -- </option>
            @foreach (var cat in Model.LegCategories)
            {
               <option value="@cat">@cat</option>
            }
         </select>
      </div> 
      <div id="filter2" class="filter">
         Matkilde:
         <select name="Eating" id="foodFilter">
            <option value=""> -- no filter -- </option>
            @foreach (var cat in Model.FoodCategories)
            {
               <option value="@cat">@cat</option>
            }
         </select>
      </div>
      <div id="filter2" class="filter">
         <input type="text" placeholder="start typing to filter" id="freetextFilter" />
      </div>
      <div class="filter">
         <span id="filterSpinner" style="display: none;">
            <img src="/Content/Images/spinner.GIF" alt="loading" />
            please wait ...
         </span>
      </div>
   </div>
   <div id="rules" class="space">
      <ul id="rulesTable">
         @foreach (var group in Model.RuleDocs.GroupBy(g=>g.HeadingName))
         {
            <li>
               <ul class="ruleGroup">
                  <li class="ruleGroupHeading">
                     <span class="buttonplace">
                        <img src="/Content/Images/plus.gif" class="expandGroup" alt="expand" />
                        <img src="/Content/Images/minus.gif" class="collapseGroup" alt="collapse" style="display: none;" />
                     </span>
                     <span class="topHeadingplace">
                        <b>@group.Key</b>
                        <br/>
                        @group.Max(rd=>rd.Edition).MonthYear()
                     </span>
                     <span class="editionPlace spaceleft"></span>
                     <span class="statusPlace spaceleft"></span>
                     <span class="historyPlace spaceleft"></span>
                  </li>
                  <li class="ruleDocHeading ruleLayout groupHidden2"  >
                     <span class="namePlace weakBottom">&nbsp;</span>
                     <span class="docCodePlace weakBottom"><b>Document code</b></span>
                     <span class="editionPlace spaceleft weakBottom"><b>Edition</b></span>
                     <span class="amendedPlace spaceleft weakBottom"><b>Amended</b></span>
                     <span class="statusPlace spaceleft weakBottom">&nbsp;</span>
                     <span class="historyPlace spaceleft weakBottom"><b>History</b></span>
                  </li>
                  @foreach (var rule in group)
                  {
                     <li 
                        data-foodcategories='@string.Join(" ",rule.FoodCategories)' 
                        data-legcategories='@string.Join(" ",rule.LegCategories)' 
                         data-freetext="@rule.Name.ToLowerInvariant() @rule.DocumentCode.ToLowerInvariant()" class="ruleDoc ruleLayout groupHidden2">
                        <span class="namePlace weakBottom"><a href="/Content/Images/notready.png" download>@rule.Name</a></span>
                        <span class="docCodePlace weakBottom"><a href="/Content/Images/notready.png" download>@rule.DocumentCode</a></span>
                        <span class="editionPlace spaceleft weakBottom">@Html.Raw(rule.Edition.MonthYear())</span>
                        <span class="amendedPlace spaceleft weakBottom">@Html.Raw(rule.Amended.MonthYear())</span>
                        <span class="statusPlace spaceleft weakBottom">@rule.Status</span>
                        <span class="historyPlace spaceleft weakBottom">
                           <a href="/Content/Images/notready.png" download>
                              <img src="/Content/Images/plus.gif" class="floatUp" height="18" width="18" class="expandHistory" alt="see history" />
                           </a>
                        </span>
                     </li>
                  }
               </ul>
            </li>
         }
      </ul>
   </div>

</div>


@section scripts
{
   <script>
      window.legTimeout = null;
      window.foodTimeout = null;
      window.freeTextTimeout = null;
      $(document).ready(function() {

         $('.expandGroup').click(function() {
            var img = $(this);
            var sibling = img.siblings('.collapseGroup');
            img.hide();
            sibling.show();
            var groupHeading = img.parents('ul.ruleGroup');
            $('.ruleDoc, .ruleDocHeading', groupHeading).removeClass('groupHidden');
         });
         $('.topHeadingplace').click(function() {
            $('.expandGroup', $(this).parent()).click();
         });

         $('.collapseGroup').click(function() {
            var img = $(this);
            var sibling = img.siblings('.expandGroup');
            img.hide();
            sibling.show();
            var groupHeading = img.parents('ul.ruleGroup');
            $('.ruleDoc, .ruleDocHeading', groupHeading).addClass('groupHidden');
         });

         $('#legFilter').change(function() {
            $('#filterSpinner').show();
            var filter = $('#legFilter').val();
            clearTimeout(window.legTimeout);
            window.legTimeout = setTimeout(function() {
               doLegFilter(filter);
            }, 100);
         });

         $('#foodFilter').change(function () {
            $('#filterSpinner').show();
            var filter = $('#foodFilter').val();
            clearTimeout(window.foodTimeout);
            window.foodTimeout = setTimeout(function () {
               doFoodFilter(filter);
            }, 100);
         });

         $('#freetextFilter').bind("propertychange change click keyup input paste", function() {
            $('#filterSpinner').show();
            var filter = $('#freetextFilter').val();
            filter = filter.toLowerCase();
            clearTimeout(window.freeTextTimeout);
            window.freeTextTimeout = setTimeout(function () {
               doFreeTextFilter(filter);
            }, 500);
           
         });

      });

      function doFreeTextFilter(filter) {
         if (filter == '') {
            $('#rules li.ruleDoc').removeClass('freeTextFiltered');
         } else {
            $('#rules li.ruleDoc').addClass('freeTextFiltered');
            $('#rules li.ruleDoc[data-freetext*="' + filter + '"]').removeClass('freeTextFiltered');
         }
         $('#filterSpinner').hide();
      }

      function doFoodFilter(filter) {
         if (filter == '') {
            $('#rules li.ruleDoc').removeClass('foodFiltered');
         } else {
            $('#rules li.ruleDoc').addClass('foodFiltered');
            $('#rules li.ruleDoc[data-foodcategories *= "' + filter + '"]').removeClass('foodFiltered');
         }
         $('#filterSpinner').hide();
      }

      function doLegFilter(filter) {
         if (filter == '') {
            $('#rules li.ruleDoc').removeClass('legFiltered');
         } else {
            $('#rules li.ruleDoc').addClass('legFiltered');
            $('#rules li.ruleDoc[data-legcategories *= "' + filter + '"]').removeClass('legFiltered');
         }
         $('#filterSpinner').hide();
      }

   </script>

   
}

