@using RuleViewerPrototype.Utilities
@model RuleViewerPrototype.Models.RulesModel
@{
    ViewBag.Title = "Index";
}

<div id="fiddlingArea">
   <div class="clear" id="historySelectors" >
      <span>Current as of: </span>
      <select id="currentAsOf" class="input-sm">
         @foreach (var edition in Model.Editions)
         {
            <option value="@edition" @Model.SelectedIfLatestEdition(edition)>@edition</option>
         }
      </select>
      <input type="button" class="btn btn-default btn-sm" id="collapseAll" value="Show only 'Document type' headings" />
      <input type="button" class="btn btn-default btn-sm" id="expandAll" value="Show all documents" />
   </div>
   <div id="filters" class="space">
      <div id="filter1" class="filter">
         Industry:
         <select id="industryFilter" class="input-sm">
            <option value=""> -- no filter -- </option>
            @foreach (var cat in Model.IndustryCategories)
            {
               <option value="@cat">@cat</option>
            }
         </select>
      </div>
      <div id="filter2" class="filter">
         Service:
         <select id="serviceFilter" class="input-sm">
            <option value=""> -- no filter -- </option>
            @foreach (var cat in Model.ServiceCategories)
            {
               <option value="@cat">@cat</option>
            }
         </select>
      </div>
      <div id="filter2" class="filter">
         Free text filter: <input type="text" class="input-xs" placeholder="start typing to filter" id="freeTextFilter" />
      </div>
      <div class="filter">
         <input type="button" class="btn btn-default btn-sm" id="clearFilters" value="Clear all filters" />
      </div>
      <div class="filter">
         <span id="filterSpinner" style="display: none;">
            <img src="/Content/Images/spinner.GIF" alt="loading" />
            please wait ...
         </span>
      </div>
   </div>
   
</div>



   <div id="rules" class="space" >
      <ul id="rulesTable">
         
        

         @foreach (var docType in Model.GroupedAndOrderedRules)
         {
            var group = docType.RuleDocs;
            
            <li>
               <ul class="ruleGroup">
                  <li class="ruleGroupHeading">
                     <span class="buttonplace">
                        <img src="/Content/Images/plus.gif" class="expandGroup" alt="expand" />
                        <img src="/Content/Images/minus.gif" class="collapseGroup" alt="collapse" style="display: none;" />
                     </span>
                     <span class="topHeadingplace clickable">
                        <b>@docType.DocTypeName</b>
                        <br/>
                        @group.Max(rd=>rd.Edition).MonthYear()
                     </span>
                     <span class="editionPlace spaceleft"></span>
                     <span class="statusPlace spaceleft"></span>
                     <span class="historyPlace spaceleft"></span>
                  </li>
                  @if (!group.Any(r => r.RuleChapterNumber > 0))
                  {
                     <li class="ruleDocHeading ruleLayout groupHidden"  >
                        <span class="namePlace ">&nbsp;</span>
                        <span class="docCodePlace "><b>Document code</b></span>
                        <span class="editionPlace spaceleft "><b>Edition</b></span>
                        <span class="amendedPlace spaceleft "><b>Amended</b></span>
                        <span class="statusPlace spaceleft ">&nbsp;</span>
                        <span class="historyPlace spaceleft "><b>History</b></span>
                     </li>
                  }
                  @foreach (var rule in group)
                  {
                     if (rule.IsFirstPartOfSubGroup(group))
                     {
                        <li class="ruleDoc ruleDocSubHeading ruleLayout groupHidden" 
                            data-subgroup="@rule.RulePartNumber">
                           <span class="namePlace rulePartHeading">
                              <b>Part @rule.RulePartNumber @rule.RulePartTitle</b>&nbsp;
                           </span>

                           <span class="docCodePlace ">&nbsp;</span>
                           <span class="editionPlace spaceleft">Edition</span>
                           <span class="amendedPlace spaceleft">Amended</span>
                           <span class="statusPlace spaceleft">&nbsp;</span>
                           <span class="historyPlace spaceleft">History</span>
                        </li>
                     }
                     <li data-servicecategories='@string.Join(" ",rule.ServiceCategories)'
                         data-industrycategories='@string.Join(" ",rule.IndustryCategories)'
                         data-freetext="@rule.Name.ToLowerInvariant() @rule.DocumentCode.ToLowerInvariant() @rule.GetRulePartAndChapter() @rule.GetRulePartAndChapter(true)"
                         data-subgroup="@rule.RulePartNumber"
                         class="ruleDoc ruleLayout groupHidden weakBottom filterableRuleDoc">
                        <span class="namePlace">
                           @if (rule.RulePartNumber > 0)
                           {
                              <span class="partChapterHeading">
                                 <a href="@rule.DownloadLink" download>
                                    Ch @rule.GetRulePartAndChapter()
                                 </a>
                              </span>
                              <span class="padLeft">&nbsp;</span>
                           }

                           <a href="@rule.DownloadLink" download>@rule.Name</a>
                        </span>
                        <span class="docCodePlace"><a href="" download>@rule.DocumentCode</a></span>
                        <span class="editionPlace spaceleft @rule.LatestEditionClass(group.Max(rd => rd.Edition))">@Html.Raw(rule.Edition.MonthYear())</span>
                        <span class="amendedPlace spaceleft">@Html.Raw(rule.Amended.MonthYear())</span>
                        <span class="statusPlace spaceleft @rule.LatestEditionClass(group.Max(rd => rd.Edition))">@rule.Status</span>
                        <span class="historyPlace spaceleft">
                           <a href="javascript:alert('Not implemented yet, sorry.')">
                              <img src="/Content/Images/plus.gif" class="floatUp" height="18" width="18" class="expandHistory" alt="see history" />
                           </a>
                        </span>
                     </li>
                  }
               </ul>
            </li>
         }
      </ul>
   </div>

</div>


@section scripts
{
   <script>
      window.industryTimeout = null;
      window.serviceTimeout = null;
      window.freeTextTimeout = null;
      $(document).ready(function() {

         $('.expandGroup').click(function() {
            var img = $(this);
            expandGroup(img);
         });
         $('.topHeadingplace').click(function() {
            var expandButton = $('.expandGroup', $(this).parent());
            var collapseButton = $('.collapseGroup', $(this).parent());
            if (expandButton.is(':visible')) {
               expandButton.click();
            } else {
               collapseButton.click();
            }
         });

         $('.collapseGroup').click(function() {
            var img = $(this);
            collapseGroup(img);
         });

         $('#industryFilter').change(function() {
            $('#filterSpinner').show();
            var filter = $('#industryFilter').val();
            clearTimeout(window.industryTimeout);
            window.industryTimeout = setTimeout(function() {
               doindustryFilter(filter);
            }, 100);
         });

         $('#serviceFilter').change(function() {
            $('#filterSpinner').show();
            var filter = $('#serviceFilter').val();
            clearTimeout(window.serviceTimeout);
            window.serviceTimeout = setTimeout(function() {
               doserviceFilter(filter);
            }, 100);
         });

         $('#freeTextFilter').bind("propertychange change keyup input paste", function() {
            $('#filterSpinner').show();
            var filter = $('#freeTextFilter').val();
            filter = filter.toLowerCase();
            clearTimeout(window.freeTextTimeout);
            window.freeTextTimeout = setTimeout(function() {
               doFreeTextFilter(filter);
            }, 500);
         });

         $('#clearFilters').click(function () {
            if ($('#industryFilter').val() != '') {
               $('#industryFilter').val('');
               $('#industryFilter').change();
            }
            if (
               $('#serviceFilter').val() != '') {
               $('#serviceFilter').val('');
               $('#serviceFilter').change();
            }
            if (
               $('#freeTextFilter').val() != '') {
               $('#freeTextFilter').val('');
               $('#freeTextFilter').change();
            }
         });

         $('#collapseAll').click(function() {
            $('.collapseGroup').each(function() {
               var img = $(this);
               collapseGroup(img);
            });
         });

         $('#expandAll').click(function() {
            $('.expandGroup').each(function() {
               var img = $(this);
               expandGroup(img);
            });
         });

         $('#currentAsOf').change(function() {
            window.location.href = harvestUrl();
         });

         if ('@Model.InitialIndustryFilter' != '') {
            $('#industryFilter').val('@Model.InitialIndustryFilter');
            $('#industryFilter').change();
         }
         if ('@Model.InitialServiceFilter' != '') {
            $('#serviceFilter').val('@Model.InitialServiceFilter');
            $('#serviceFilter').change();
         }
         if ('@Model.InitialFreeTextFilter' != '') {
            $('#freeTextFilter').val('@Model.InitialFreeTextFilter');
            $('#freeTextFilter').change();
         }
      });


      function expandGroup(img) {
         var sibling = img.siblings('.collapseGroup');
         img.hide();
         sibling.show();
         var ruleGroupHeading = img.parents('.ruleGroupHeading');
         ruleGroupHeading.addClass('opened');

         var groupHeading = img.parents('ul.ruleGroup');
         $('.ruleDoc, .ruleDocHeading', groupHeading).removeClass('groupHidden');
      }

      function collapseGroup(img) {
         var sibling = img.siblings('.expandGroup');
         img.hide();
         sibling.show();
         var ruleGroupHeading = img.parents('.ruleGroupHeading');
         ruleGroupHeading.removeClass('opened');
         var groupHeading = img.parents('ul.ruleGroup');
         $('.ruleDoc, .ruleDocHeading', groupHeading).addClass('groupHidden');
      }

      function doFreeTextFilter(filter) {
         var lastFilter = window.lastFreeTextFilter;
         if (filter == lastFilter) {
            $('#filterSpinner').hide();
            return;
         };
         if (filter == '') {
            $('#rules li.filterableRuleDoc').removeClass('freeTextFiltered');
         } else {
            $('#rules li.filterableRuleDoc').addClass('freeTextFiltered');
            $('#rules li.filterableRuleDoc[data-freetext*="' + filter + '"]').removeClass('freeTextFiltered');
         }
         window.lastFreeTextFilter = filter;
         doPostFilterCleanup();
         $('#filterSpinner').hide();

      }

      function doserviceFilter(filter) {
         if (filter == '') {
            $('#rules li.filterableRuleDoc').removeClass('serviceFiltered');
         } else {
            $('#rules li.filterableRuleDoc').addClass('serviceFiltered');
            $('#rules li.filterableRuleDoc[data-servicecategories *= "' + filter + '"]').removeClass('serviceFiltered');
         }
         doPostFilterCleanup();
         $('#filterSpinner').hide();
      }

      function doindustryFilter(filter) {
         if (filter == '') {
            $('#rules li.filterableRuleDoc').removeClass('industryFiltered');
         } else {
            $('#rules li.filterableRuleDoc').addClass('industryFiltered');
            $('#rules li.filterableRuleDoc[data-industrycategories *= "' + filter + '"]').removeClass('industryFiltered');
         }
         doPostFilterCleanup();
         $('#filterSpinner').hide();
      }

      function harvestUrl() {
         var baseUrl = "/";
         var currentAsOf = $('#currentAsOf').val();
         var serviceFilter = $('#serviceFilter').val();
         var industryFilter = $('#industryFilter').val();
         var freeTextFilter = $('#freeTextFilter').val();
         var url = baseUrl;
         url = url + '?currentAsOf=' + currentAsOf;
         if (serviceFilter != '') {
            url = url + '&serviceFilter=' + serviceFilter;
         }
         if (industryFilter != '') {
            url = url + '&industryFilter=' + industryFilter;
         }
         if (freeTextFilter != '') {
            url = url + '&freeTextFilter=' + freeTextFilter;
         }
         return url;
      }

      function doPostFilterCleanup() {
         $('.ruleGroup').each(function() { cleanupRuleGroup($(this)); });
         cleanupSubHeadings();
      }

      function cleanupRuleGroup(group) {
         var collapseButton = $('.collapseGroup', group);
         var expandButton = $('.expandGroup', group);
         var visible = $('.ruleDoc', group)
            .not('.freeTextFiltered')
            .not('.serviceFiltered')
            .not('.industryFiltered')
            .not('.ruleDocSubHeading');
         if (visible.length == 0) {
            collapseButton.click();
         } else {
            expandButton.click();
         }
      }

      function cleanupSubHeadings() {
         $('.ruleGroup').each(function() {
            var group = $(this);
            var visible = $('.ruleDoc', group)
               .not('.freeTextFiltered')
               .not('.serviceFiltered')
               .not('.industryFiltered')
               .not('.groupHidden');
            showRelevantSubHeadings(group, visible);
         });
      }

      function showRelevantSubHeadings(group, visibleInGroup) {
         $('.ruleDocSubHeading', group).addClass('subHeadingHidden');
         $('.ruleDocSubHeading', group).each(function() {
            var me = $(this);
            var mySubGroupNo = me.data('subgroup');
            var visibleChildren = visibleInGroup.filter('[data-subgroup="' + mySubGroupNo + '"]').not('.ruleDocSubHeading');
            if (visibleChildren.length > 0) {
               me.removeClass('subHeadingHidden');
            }
         });
      }

   </script>

   
}

